<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (betType) {
      <div>
        <h2 data-cy="betTypeDetailsHeading"><span jhiTranslate="betBurgerBotApp.betType.detail.title">Bet Type</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ betType.id }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.betType.name">Name</span></dt>
          <dd>
            <span>{{ betType.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/bet-type', betType.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
