<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (accountBet) {
      <div>
        <h2 data-cy="accountBetDetailsHeading"><span jhiTranslate="betBurgerBotApp.accountBet.detail.title">Account Bet</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ accountBet.id }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.name">Name</span></dt>
          <dd>
            <span>{{ accountBet.name }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.state">State</span></dt>
          <dd>
            <span jhiTranslate="{{ 'betBurgerBotApp.AccountBetState.' + accountBet.state }}">{{ accountBet.state }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.type">Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'betBurgerBotApp.AccountBetType.' + accountBet.type }}">{{ accountBet.type }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.bettingRoleType">Betting Role Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'betBurgerBotApp.BettingRoleType.' + accountBet.bettingRoleType }}">{{
              accountBet.bettingRoleType
            }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.bettingRoleAmount">Betting Role Amount</span></dt>
          <dd>
            <span>{{ accountBet.bettingRoleAmount }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.hourActiveStart">Hour Active Active</span></dt>
          <dd>
            <span>{{ accountBet.hourActiveStart }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.hourActiveEnd">Hour Active End</span></dt>
          <dd>
            <span>{{ accountBet.hourActiveEnd }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveLun">Flg Active Lun</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveLun }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveMar">Flg Active Mar</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveMar }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveMer">Flg Active Mer</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveMer }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveGio">Flg Active Gio</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveGio }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveVen">Flg Active Ven</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveVen }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveSab">Flg Active Sab</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveSab }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.flgActiveDom">Flg Active Dom</span></dt>
          <dd>
            <span>{{ accountBet.flgActiveDom }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.whatsAppNumber">Whats App Number</span></dt>
          <dd>
            <span>{{ accountBet.whatsAppNumber }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.userAccount">User Account</span></dt>
          <dd>
            <span>{{ accountBet.userAccount }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.passwordAccount">Password Account</span></dt>
          <dd>
            <span>{{ accountBet.passwordAccount }}</span>
          </dd>
          <dt><span jhiTranslate="betBurgerBotApp.accountBet.bookmaker">Bookmaker</span></dt>
          <dd>
            @if (accountBet.bookmaker) {
              <div>
                <a [routerLink]="['/bookmaker', accountBet.bookmaker.id, 'view']">{{ accountBet.bookmaker.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/account-bet', accountBet.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
